<h1>Recipts#index</h1>

<p>Find me in app/views/recipts/application.html.erb</p>

<% if @recipes.nil? %>
<p> No recipes found </p>
<% else %>

<table>
  <tr>
    <th>Thumbnail</th>
    <th>Title</th>
    <th>SocialRank</th>
  </tr>
  <% @recipes.each do |recipe|  %>
    <tr>
      <td><%= link_to(image_tag(recipe["image_url"], :width=>100, :height=>100), recipe["source_url"]) %></td>
      <td><%= link_to(sanitize(recipe["title"]), recipe["source_url"]) %></td>
      <td><%= recipe["social_rank"] %></td>
    </tr>
  <% end %>
</table>

<% end %>
